* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(21, 72, 72);
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.todo {
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 228, 228);
    width: 100%;
    max-width: 540px;
    margin-bottom: 60px;
    padding: 40px 30px 70px;
    border-radius: 1rem;
    box-shadow: 10px 10px 1rem rgb(11, 28, 28);
}

.todo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:250px;
    margin-bottom: 20px;
    height: 8vmin;
    color: rgb(186, 60, 60);
    font-family: cursive;
    font-size: 20px;
}

.todo h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    width: 100%;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
    gap: 10px;
}

.row input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

.row button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: rgb(186, 60, 60);
    color: white;
    border-radius: 30px;
    cursor:pointer;
}
ul li{
    list-style: none;
    font-size: 19px;
    padding:12px 8px 12px 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height:25px;
    width:25px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position:absolute;
    right:0;
    top:5px;
    height:40px;
    width:40px;
    color:#555;
    font-size: 22px;
    line-height: 40px;
    text-align:center;
    border-radius: 50%;
}
ul li span:hover{
    background: rgb(49, 87, 87,0.3);
    
}